<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body id="esconder">
<label>Seleccione la operacion a realizar</label>
  <select id="lista" name="valorlista" onchange="mostrar(this)">
    <option selected="" value="">- Select -</option>
    <option value="sumar">Sumar</option>
    <option value="restar">Restar</option>
    <option value="promediar">Promedio</option>
    <option value="resetear">Resetear Memoria</option>
  </select>

<form id="op_sumar" class="clase_suma" method="POST" action="sumar" style="visibility: hidden">
  <%= csrf_token_field %>
  <label class="clase_suma" style="visibility: hidden">Ingrese operandos:</label>
  <input id="op1_suma" type="number" name="operando1"/>
  <input id="op2_suma" type="number" name="operando2"/>
  <input type="submit" id="sumar" value="Sumar"/>
</form>

<form id="op_restar" class="clase_resta" method="POST" action="restar" style="visibility: hidden">
  <%= csrf_token_field %>
  <label class="clase_resta" style="visibility: hidden">Ingrese operandos:</label>
  <input id="op1_resta" type="number" name="operando1"/>
  <input id="op2_resta" type="number" name="operando2"/>
  <input type="submit" id="restar" value="Restar"/>
</form>

<form id="op_promediar" class="clase_promedio" method="POST" action="promediar" style="visibility: hidden;">
  <%= csrf_token_field %>
  <label class="clase_promedio" style="visibility: hidden;">Ingrese los numeros a promediar de a uno: </label>
  <input id="num" type="number" name="numero"/>
  <input id="lista_num" name="lista_numeros" readonly/>
  <button id="agregar_num" type="button">Agregar valor a promediar</button>
  <input type="submit" id="promediar" value="Promediar"/>
</form>

<form id="op_resetear" method="POST">
  <%= csrf_token_field %>
  <input type="submit" id="resetear" value="Resetear Memoria" style="visibility: hidden;" formaction="resetear"/>
  <input type="submit" id="consultar_operaciones" value="Consultar Cantidad Operaciones Realizadas" style="visibility: hidden;" formaction="consultar"/>
</form>

<div id="resultado"><%= @resultado %></div>

<script>
    function mostrar(arg) {
        if(arg.value == "sumar") {
            $('.clase_suma').each(function() {
                this.style.visibility = "visible";
            });
        }
        else if(arg.value == "restar") {
            $('.clase_resta').each(function() {
                this.style.visibility = "visible";
            });
        }
        else if(arg.value == "promediar") {
            $('.clase_promedio').each(function() {
                this.style.visibility = "visible";
            });
        }
        else {
            $('#resetear').attr("style", "visibility: visible");
            $('#consultar_operaciones').attr("style", "visibility: visible");
        }
    }

    $('#agregar_num').click(function () {
        var elem = $('#lista_num');
        var valor_nuevo = $('#num').val();
        var contenido = $(elem).val();

        if((contenido == '') && (valor_nuevo != '')) {
            $(elem).val(valor_nuevo)
        }
        else if(valor_nuevo != '') {
            $(elem).val(contenido + ', ' + valor_nuevo);
        }
        $('#num').val('');
    })
</script>

</body>
</html>
